.btn-gototop{
    position: fixed;
    bottom: 2rem;
    right:2rem;
    border-radius:50%;
    border:0.1rem solid gray;
    cursor: pointer;
    display:none;
    &.active{
        display:block;
    }    
    i{
        font-size: 4rem;
        color:gray;
    }
    &:hover{
        border:0.1rem solid rgb(150, 33, 33);
        background-color:rgb(150, 33, 33);
        i{
            color: white;
        }
    }
}

.header__top{
    background-color: black;
    .content{
        display: flex;
        justify-content:space-between;
        align-items: center;
        color:white;
    }
    &__hotline{
        font-size: 1.3rem;
        i{
            font-size: 1.6rem;
        }
    }
    &__support-list{
        display: flex;
    }
    &__support-item{
        &:not(:first-child){
            margin-left:1rem;
            border-left:0.1rem solid gray;
            padding-left:1rem;
        }
    }
    &__support-link{
        font-size: 1.3rem;
        color:white;
        transition:0.3s ease;
        &:hover{
            color:red;
        }
    }
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition: all 0.5s ease;
    &.sticky{
        position:fixed;
        top:0;
        left:0;
        right:0;
        padding:0 31rem;
        width:100%;
        height:10vh;
        background-color:white;
        box-shadow: 0 0 2rem rgba(0,0,0,0.4);
        z-index:999;
    }
    &__right{
        display:flex;
        align-items:center;
        justify-content:start;
        &__navbar{
            display:flex;
            &-item{
                width:10rem;
                &:not(:first-child){
                    margin-left:3rem;
                }
                position: relative;
                &:hover{
                    .header__right__navbar-link{
                        color:red;
                    }
                    .header__right__navbar__level{
                        display:block;
                    }
                }
            }
            &__level {
                display:none;
                position: absolute;
                top: 4rem;
                left: - calc(10rem / 2);
                background-color: white;
                border:0.1rem solid gray;
                box-shadow:0 0 2rem rgba(0,0,0,0.3);
                width: 20rem;
                z-index: 9;
                &--item{
                    text-align: center;
                    padding:1rem 0;
                    &:not(:first-child){
                        border-top: 0.1rem solid rgb(175, 174, 174);
                    }
                    &:hover{
                        background-color:gray;
                        .header__right__navbar__level--link{
                            color:white;
                        }
                    }
                }
                &--link{
                    display: block;
                    font-size: 1.4rem;
                    color:#222;
                }
                &:before{
                    content: " ";
                    display: table;
                    position: absolute;
                    top:-2rem;
                    height:2rem;
                    width:100%;
                }
                &:after{
                    content: " ";
                    display: table;
                    position: absolute;
                    top:-1rem;
                    left:42%;
                    transform:translateX(-50%);
                    width:3rem;
                    height:3rem;
                    background:white;
                    transform: rotate(45deg);
                    z-index: -1;
                }
            }
            
            &-link{
                font-size: 1.6rem;
                color:#222;
                text-align: center;
                display: block;
            }
        }
        &__icon{
            margin-left: 2rem;
            display:flex;
            &-cart{
                position: relative;
                .btn-cart{
                    cursor: pointer;
                }
                .cart__box{
                    position:absolute;
                    left:- calc(100% / 2);
                    top: 6rem;
                    display:none;
                    width:40rem;
                    max-height: 76rem;
                    padding:1rem;
                    background:white;
                    box-shadow: 0 0 2rem rgba(0,0,0,.3);
                    transition: all 0.4s ease;
                    &.active{
                        display:block;
                    }
                    &::after{
                        content:" ";
                        display: block;
                        position: absolute;
                        top:-1rem;
                        left:12%;
                        width:2rem;
                        height:2rem;
                        background:gray;
                        transform:rotate(45deg);
                        z-index: -1;
                    }
                    &__title{
                        font-size: 1.7rem;
                        text-align: center;
                        text-transform: uppercase;
                        color:#222;
                        padding:1rem;
                        border-bottom: 0.1rem solid gray;
                    }
                    &__list{
                        padding:1rem 0;
                        max-height:60rem ;
                        overflow:auto;
                    }
                    &__item{
                        display:flex;
                        justify-content:start;
                        align-items:center;
                        &:not(:first-child){
                            margin-top:2rem;
                        }
                        img{
                            width:10rem;
                            height:10rem;
                            object-fit: contain;
                            object-position: center;
                        }
                        &__content{
                            margin-left:1rem;
                        }
                        &__name{
                            font-size: 1.7rem;
                            padding:1rem 0;
                        }
                        &__cost{
                            font-size: 1.6rem;
                            font-weight: 600;
                            padding-bottom: 1rem;
                        }
                        &__quarity{
                            width:6rem;
                            padding:0.5rem;
                            outline-color: red;
                        }
                        &__trash{
                            margin-left:auto;
                            padding:1rem;
                            border:0.1rem solid gray;
                            background:transparent;
                            color:gray;
                            transition: all 0.3s ease;
                            &:hover{
                                border:0.1rem solid black;
                                background:black;
                                color:white;
                            }
                        }
                    }
                    &__total{
                        display:flex;
                        align-items:center;
                        justify-content:space-between;
                        border-top: 0.1rem solid gray;
                        padding:1rem 0;
                        &__title{
                            font-size: 1.6rem;
                        }
                        &__number{
                            font-size: 1.7rem;
                            font-weight: 700;
                        }
                    }
                    &__buy{
                        padding:1rem;
                        width:100%;
                        font-size: 1.6rem;
                        color:gray;
                        background-color:transparent;
                        border:0.1rem solid gray;
                        transition:all 0.4s ease;
                        &:hover{
                            color:white;
                            background-color:black;
                            border:0.1rem solid black;
                        }
                    }
                }
            }
            &-search{
                position: relative;
                cursor: pointer;
                .search {
                    display:none;
                    position: absolute;
                    bottom: -3rem;
                    padding:0.5rem;
                    width:20rem;
                    font-size: 1.5rem;
                    outline:none;
                    transition: all 0.3s ease;
                    &.active{
                        display:block;
                    }
                    &:after {
                        content: " ";
                        display:table;
                        position: absolute;
                        top:-1rem;
                        width:100%;
                        height: 2rem;
                        background-color: #000;
                    }
                }
            }
        }
    }
}
.btn{
    width:6rem;
    height:6rem;
    padding:0 1rem;
}

.brcurmb{
    background-color:rgb(196, 196, 196);
    a,span{
        font-size: 1.5rem;
        color:#222;
    }
    a:hover{
        text-decoration: underline;
    }
}

.contain__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    border-bottom: 0.1rem dashed gray;
    &__title{
        font-size: 3rem;
    }
    button{
        background-color:transparent;
        border:none;
        width:5rem;
        padding:1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        &:not(:first-child){
            margin-left:1rem;
        }
        i{
            font-size:3rem
        }
        &:hover{
            color:red;
        }
        &.active{
            i{
                color:red;
            }
        }
    }
}

.contain__main{
    display:flex;
    &__lists{
        flex:1;
        margin:2rem -2rem;
        display:flex;
        flex-wrap: wrap;
        &.list {
            .contain__main__item{
                flex-direction: row;
                justify-content: flex-start;
                align-items: start;
                width: 100%;
                height: 30rem;
            }
        
            .contain__main__item__photo {
                flex: 0.5;
            }
        }
    }
    &__item{
        display:flex;
        align-items:center;
        flex-direction: column;
        width:calc(33.33% - 4rem);
        height: 50rem;
        position: relative;
        margin:2rem;
        overflow:hidden;
        transition: all 0.3s ease;
        &__photoLarge{
            width:100%;
            object-fit: contain;
        }
        &__photoSmall{
            width:5rem;
            object-fit: contain;
        }
        &__name{
            font-size: 1.5rem;
            padding:0 1rem;
        }
        &__cost{
            padding:1rem;
            font-size: 1.7rem;
        }
        &:hover{
            .overlay {
                top:0rem;
            }
        }
        &__changeImg{
            display:none;
            position: absolute;
            top:0;
            background:gray;
            left:0;
            width:100%;
            height:71%;
            img{
                width:100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &.change{
            .contain__main__item__changeImg{
                display:block;
            }
        }
        .overlay{
            position:absolute;
            top:60rem;
            bottom:0;
            left:0;
            right:0;
            // background-color:rgba(0,0,0,0.3);
            transition: all 0.3s ease;
            .btn-addCart{
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%,-50%);
                width:10rem;
                height:10rem;
                background-color:transparent;
                border-radius: 50%;
                border:0.1rem solid gray;
                color:gray;
                transition: all 0.3s ease;
                cursor: pointer;
                &:hover{
                    border:0.1rem solid rgba(225, 228, 225, 0.8);;
                    background-color:rgba(206, 206, 206, 0.8);
                    color:white;
                }
                lord-icon{
                    width:6rem;
                    height: 6rem;
                    pointer-events: none;
                }
            }
        }
        &__content{
            display:flex;
            align-items:center;
            flex-direction: column;
        }
    }
    &__sideBar{
        flex:0.4;
        padding:1rem;
        &__title{
            font-size: 1.7rem;
            color:#222;
            padding:1rem 0;
        }
        &__search{
            margin-top:3rem;
            p{
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            &__box{
                display: flex;
                align-items:center;
                border:0.1rem solid gray;
                input{
                    flex:1;
                    border:none;
                    outline:none;
                    padding:1rem;
                    font-size: 1.5rem;
                }
                i{
                    width:5rem;
                    text-align:center;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }

        &__category{
            &__item{
                padding:0.5rem 0;
                position: relative;
                margin-left:2rem;
                &:before{
                    content: " ";      
                    display:table;              
                    position: absolute;
                    left:-2rem;
                    top:50%;
                    transform: translateY(-50%);
                    width:1rem;
                    height:1rem;
                    border-radius: 2rem;
                    background-color:gray
                }
                &:hover{
                    .contain__main__sideBar__category__link{
                        text-decoration:underline;
                    }
                }
            }
            &__link{
                font-size: 1.5rem;
                color:#222;
            }
        }

        &__hotProduct{
            &__item{
                display: flex;
            }
            &__photo {
                flex: 0.3;
                height:10rem;
                margin-right:1rem;
                a {
                    display: block;
                    width: 100%;
                    height:100%;
                    img {
                        width: 100%;
                        height:100%;
                        object-fit: contain
                    }
                }
            }
            &__content {
                flex: 0.5;
                font-size: 1.5rem;
            }
            &__link{
                color:#222;
                display: block;
                margin-bottom: 1rem;
                transition: all 0.3s ease;
                &:hover{
                    color:red;
                }
            }
        }
    }
}