.btn-gototop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  border: 0.1rem solid gray;
  cursor: pointer;
  display: none;
}
.btn-gototop.active {
  display: block;
}
.btn-gototop i {
  font-size: 4rem;
  color: gray;
}
.btn-gototop:hover {
  border: 0.1rem solid rgb(150, 33, 33);
  background-color: rgb(150, 33, 33);
}
.btn-gototop:hover i {
  color: white;
}

.header__top {
  background-color: black;
}
.header__top .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header__top__hotline {
  font-size: 1.3rem;
}
.header__top__hotline i {
  font-size: 1.6rem;
}
.header__top__support-list {
  display: flex;
}
.header__top__support-item:not(:first-child) {
  margin-left: 1rem;
  border-left: 0.1rem solid gray;
  padding-left: 1rem;
}
.header__top__support-link {
  font-size: 1.3rem;
  color: white;
  transition: 0.3s ease;
}
.header__top__support-link:hover {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 31rem;
  width: 100%;
  height: 10vh;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header__right__navbar {
  display: flex;
}
.header__right__navbar-item {
  width: 10rem;
  position: relative;
}
.header__right__navbar-item:not(:first-child) {
  margin-left: 3rem;
}
.header__right__navbar-item:hover .header__right__navbar-link {
  color: red;
}
.header__right__navbar-item:hover .header__right__navbar__level {
  display: block;
}
.header__right__navbar__level {
  display: none;
  position: absolute;
  top: 4rem;
  left: -5rem;
  background-color: white;
  border: 0.1rem solid gray;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  width: 20rem;
  z-index: 9;
}
.header__right__navbar__level--item {
  text-align: center;
  padding: 1rem 0;
}
.header__right__navbar__level--item:not(:first-child) {
  border-top: 0.1rem solid rgb(175, 174, 174);
}
.header__right__navbar__level--item:hover {
  background-color: gray;
}
.header__right__navbar__level--item:hover .header__right__navbar__level--link {
  color: white;
}
.header__right__navbar__level--link {
  display: block;
  font-size: 1.4rem;
  color: #222;
}
.header__right__navbar__level:before {
  content: " ";
  display: table;
  position: absolute;
  top: -2rem;
  height: 2rem;
  width: 100%;
}
.header__right__navbar__level:after {
  content: " ";
  display: table;
  position: absolute;
  top: -1rem;
  left: 42%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  background: white;
  transform: rotate(45deg);
  z-index: -1;
}
.header__right__navbar-link {
  font-size: 1.6rem;
  color: #222;
  text-align: center;
  display: block;
}
.header__right__icon {
  margin-left: 2rem;
  display: flex;
}
.header__right__icon-cart {
  position: relative;
}
.header__right__icon-cart .btn-cart {
  cursor: pointer;
}
.header__right__icon-cart .cart__box {
  position: absolute;
  left: -50%;
  top: 6rem;
  display: none;
  width: 40rem;
  max-height: 76rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
.header__right__icon-cart .cart__box.active {
  display: block;
}
.header__right__icon-cart .cart__box::after {
  content: " ";
  display: block;
  position: absolute;
  top: -1rem;
  left: 12%;
  width: 2rem;
  height: 2rem;
  background: gray;
  transform: rotate(45deg);
  z-index: -1;
}
.header__right__icon-cart .cart__box__title {
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  padding: 1rem;
  border-bottom: 0.1rem solid gray;
}
.header__right__icon-cart .cart__box__list {
  padding: 1rem 0;
  max-height: 60rem;
  overflow: auto;
}
.header__right__icon-cart .cart__box__item {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__right__icon-cart .cart__box__item:not(:first-child) {
  margin-top: 2rem;
}
.header__right__icon-cart .cart__box__item img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  object-position: center;
}
.header__right__icon-cart .cart__box__item__content {
  margin-left: 1rem;
}
.header__right__icon-cart .cart__box__item__name {
  font-size: 1.7rem;
  padding: 1rem 0;
}
.header__right__icon-cart .cart__box__item__cost {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.header__right__icon-cart .cart__box__item__quarity {
  width: 6rem;
  padding: 0.5rem;
  outline-color: red;
}
.header__right__icon-cart .cart__box__item__trash {
  margin-left: auto;
  padding: 1rem;
  border: 0.1rem solid gray;
  background: transparent;
  color: gray;
  transition: all 0.3s ease;
}
.header__right__icon-cart .cart__box__item__trash:hover {
  border: 0.1rem solid black;
  background: black;
  color: white;
}
.header__right__icon-cart .cart__box__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.1rem solid gray;
  padding: 1rem 0;
}
.header__right__icon-cart .cart__box__total__title {
  font-size: 1.6rem;
}
.header__right__icon-cart .cart__box__total__number {
  font-size: 1.7rem;
  font-weight: 700;
}
.header__right__icon-cart .cart__box__buy {
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
  color: gray;
  background-color: transparent;
  border: 0.1rem solid gray;
  transition: all 0.4s ease;
}
.header__right__icon-cart .cart__box__buy:hover {
  color: white;
  background-color: black;
  border: 0.1rem solid black;
}
.header__right__icon-search {
  position: relative;
  cursor: pointer;
}
.header__right__icon-search .search {
  display: none;
  position: absolute;
  bottom: -3rem;
  padding: 0.5rem;
  width: 20rem;
  font-size: 1.5rem;
  outline: none;
  transition: all 0.3s ease;
}
.header__right__icon-search .search.active {
  display: block;
}
.header__right__icon-search .search:after {
  content: " ";
  display: table;
  position: absolute;
  top: -1rem;
  width: 100%;
  height: 2rem;
  background-color: #000;
}

.btn {
  width: 6rem;
  height: 6rem;
  padding: 0 1rem;
}

.brcurmb {
  background-color: rgb(196, 196, 196);
}
.brcurmb a, .brcurmb span {
  font-size: 1.5rem;
  color: #222;
}
.brcurmb a:hover {
  text-decoration: underline;
}

.contain__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem dashed gray;
}
.contain__top__title {
  font-size: 3rem;
}
.contain__top button {
  background-color: transparent;
  border: none;
  width: 5rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contain__top button:not(:first-child) {
  margin-left: 1rem;
}
.contain__top button i {
  font-size: 3rem;
}
.contain__top button:hover {
  color: red;
}
.contain__top button.active i {
  color: red;
}

.contain__main {
  display: flex;
}
.contain__main__lists {
  flex: 1;
  margin: 2rem -2rem;
  display: flex;
  flex-wrap: wrap;
}
.contain__main__lists.list .contain__main__item {
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  width: 100%;
  height: 30rem;
}
.contain__main__lists.list .contain__main__item__photo {
  flex: 0.5;
}
.contain__main__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(33.33% - 4rem);
  height: 50rem;
  position: relative;
  margin: 2rem;
  overflow: hidden;
  transition: all 0.3s ease;
}
.contain__main__item__photoLarge {
  width: 100%;
  object-fit: contain;
}
.contain__main__item__photoSmall {
  width: 5rem;
  object-fit: contain;
}
.contain__main__item__name {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.contain__main__item__cost {
  padding: 1rem;
  font-size: 1.7rem;
}
.contain__main__item:hover .overlay {
  top: 0rem;
}
.contain__main__item__changeImg {
  display: none;
  position: absolute;
  top: 0;
  background: gray;
  left: 0;
  width: 100%;
  height: 71%;
}
.contain__main__item__changeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contain__main__item.change .contain__main__item__changeImg {
  display: block;
}
.contain__main__item .overlay {
  position: absolute;
  top: 60rem;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
}
.contain__main__item .overlay .btn-addCart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border-radius: 50%;
  border: 0.1rem solid gray;
  color: gray;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contain__main__item .overlay .btn-addCart:hover {
  border: 0.1rem solid rgba(225, 228, 225, 0.8);
  background-color: rgba(206, 206, 206, 0.8);
  color: white;
}
.contain__main__item .overlay .btn-addCart lord-icon {
  width: 6rem;
  height: 6rem;
  pointer-events: none;
}
.contain__main__item__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contain__main__sideBar {
  flex: 0.4;
  padding: 1rem;
}
.contain__main__sideBar__title {
  font-size: 1.7rem;
  color: #222;
  padding: 1rem 0;
}
.contain__main__sideBar__search {
  margin-top: 3rem;
}
.contain__main__sideBar__search p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.contain__main__sideBar__search__box {
  display: flex;
  align-items: center;
  border: 0.1rem solid gray;
}
.contain__main__sideBar__search__box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.5rem;
}
.contain__main__sideBar__search__box i {
  width: 5rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
.contain__main__sideBar__category__item {
  padding: 0.5rem 0;
  position: relative;
  margin-left: 2rem;
}
.contain__main__sideBar__category__item:before {
  content: " ";
  display: table;
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  background-color: gray;
}
.contain__main__sideBar__category__item:hover .contain__main__sideBar__category__link {
  text-decoration: underline;
}
.contain__main__sideBar__category__link {
  font-size: 1.5rem;
  color: #222;
}
.contain__main__sideBar__hotProduct__item {
  display: flex;
}
.contain__main__sideBar__hotProduct__photo {
  flex: 0.3;
  height: 10rem;
  margin-right: 1rem;
}
.contain__main__sideBar__hotProduct__photo a {
  display: block;
  width: 100%;
  height: 100%;
}
.contain__main__sideBar__hotProduct__photo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contain__main__sideBar__hotProduct__content {
  flex: 0.5;
  font-size: 1.5rem;
}
.contain__main__sideBar__hotProduct__link {
  color: #222;
  display: block;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}
.contain__main__sideBar__hotProduct__link:hover {
  color: red;
}

/*# sourceMappingURL=style.css.map */
